body{
	width: 60vw;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.75);
	color : #aeaeae;
}

header{
	background-color: #444853;
	color: white;
	padding: 1vw;
	margin-bottom: 1vw;
}

hr{
	height : 0.1vw;
	margin-left: auto;
	margin-right: auto;
	color: white;
	background-color: white;
}

table{
	width : 40vw;
}

#tableresponsive{
	display: none;
}

article{
	width: 30vw;
}

#leftarticle{
	float: left;	
	font-weight: bold;
}

#rightarticles{
	float: right;
	background-color: #f3f3f3;
	font-weight: bold;
}

#bottomarticle{
	clear: both;
	width: 80vw;
	text-align: center;
	color: black;
}

h2{
	font-style: italic;
	color: white;
	background-color: #f79647;
	padding: 1vw;
	margin: 0vw;
	width: 28vw;
}

h3{
	color: black;
	padding: 1vw;
	padding-bottom: 0vw;
	margin: 0vw;

}

.lieu{
	color: #ea9756;
}

p{
	padding: 0vw;
	padding-left: 1vw;
	padding-bottom: 1vw;
	margin: 0vw;
}

.bottom{
	width: 58vw;
	margin-bottom: 1vw;
}

.stars{
	color: #f79444;
	text-align: right;
}

.left{
	float: left;
	width: 28vw;
	font-size: 1.2vw;
	text-align: right;
}

.right{
	float: right;
	width: 50vw;
	font-size: 1.2vw;
	text-align: left;
}

.clear{
	clear: both;
}

@media (max-width: 1280px) {

	body{
		width: 80vw;
	} 

	article{
		width: 40vw;
	}	

	h2{
		width: 38vw;
	}

	.bottom{
		width: 78vw;
	}

	.left{
		width: 39vw;
	}

	.right{
		width: 39vw;
	}
}

@media (max-width: 960px) {

	body{
		width: 98vw;
	}

	article{
		width: 49vw;
	}	

	h2{
		width: 47vw;
	}

	#bottomarticle{
		clear: both;
		width: 98vw;
		text-align: center;
		color: black;
	}

	.bottom{
		width: 96vw;
	}

	.left{
		width: 48vw;
		font-size: 1.6vw;
	}

	.right{
		width: 48vw;
		font-size: 1.6vw;
	}
}

@media (max-width: 480px) {

	table{
		display: none;
	}

	#tableresponsive{
		display: inline-block;
		list-style-type: none;
		padding: 0;
	}

	article{
		width: 98vw;
	}

	#leftarticle{
		float: none;
	}

	#rightarticles{
		float: none;
	}

	#bottomarticle{
		width: 98vw;
	}	

	h2{
		width: 98vw;
	}

	.left{
		width: 48vw;
		font-size: 2.5vw;
	}

	.right{
		width: 48vw;
		font-size: 2.5vw;
	}
}